body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 4px;
    
}

h1 {
    align-items: right;
    padding: 10px;
    color: #070707;
}

h2 {
    
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    padding: 50px;
    background-color:rgb(196, 193, 193);
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.sign-in-btn, .register-btn {
    font-size: 24px; 
    padding: 5px 40px; 
    background-color: #4CAF50; 
}